[Desktop Entry]
Encoding=UTF-8
Name=StakeCoin
Comment=StakeCoin P2P Cryptocurrency
Comment[ru]=StakeCoin, P2P криптовалюта
Comment[fr]=StakeCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=StakeCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/StakeCoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/StakeCoin80.xpm
MimeType=x-scheme-handler/StakeCoin;
Categories=Office;
