#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_StakeCoind += debian/examples/*
DEB_INSTALL_MANPAGES_StakeCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix StakeCoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f StakeCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake StakeCoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/StakeCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/StakeCoind
binary-post-install/StakeCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/StakeCoin-qt
